week02/Library/
week02/Temp/
*.csproj
*.sln
*.userprefs
week03/Library/
week04/Library/
week05/Library/
week05/Temp/
week06/Library/
week06/Temp/
week07/Library/
week08/Library/
week08/Temp/
week09/Library/
week09/Temp/
week10/Library/
week10/Temp/
week09/Builds/AI_lab_sample/
week12/Library/
